body {
  margin: 0;
  background: #fff;
  font-family: 'Roboto', sans-serif; 
}
body.backgroundimage {
  background: url("img/working-it.jpg") no-repeat;
  background-size: cover; 
}
h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: .3rem; 
}

h2 {
  font-size: 1.4rem;
  padding: 5px 10px;
  margin-top: 0px;
  margin-bottom: 2px;
  color: #ffffff;
  background: rgba(0,0,0,0.6);
}

h3 {
  font-size: 1.2rem;
  padding: 5px 6px;
  margin-top: 0px;
  margin-bottom: 2px;
  color: #ffffff;
  background: rgba(0,0,0,0.6);
}

a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.5);
  padding: .5rem;
  transition: .6s background; 
  font-size: 0.8rem;
}
a:hover {
  background: rgba(0, 0, 0, 0.9); 
}

input[type="submit"]{
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.5);
  padding: .5rem;
  transition: .6s background;
  border: none;
  font-size: 0.8rem;
}

input[type="submit"]:hover {
  background: rgba(0, 0, 0, 0.9); 
  cursor: pointer;
}

input[type="text"], select{
  display: inline-block;
  text-decoration: none;
  padding: .5rem;
  width: 250px;
  box-sizing: border-box;
}

h2 span{
  display: inline;
  text-decoration: none;
  padding: 0px;
  width: auto;
  box-sizing: border-box;
}
h2 span.dateHeading{
    font-size: 1.0rem;
    line-height: 1.4rem;
}
.video__text {
  font-weight: 300;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 2rem;
  width: 33%;
  margin: 2rem;
  float: right;
  font-size: 1.2rem; 
}
.video__text p.button {
  display: block;
  width: 80%;
  padding: .4rem;
  border: none;
  margin: 1rem auto;
  font-size: 1.3rem;
  background: rgba(255, 255, 255, 0.23);
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  transition: .3s background;
  text-align: center;
}

.header {
  width: 100%;
  height: 250px;
  background: url("img/working-it.jpg") center no-repeat;
  background-size: cover; 
}

.header__headline {
  padding-top: 100px;
  text-align: center;
  color: #fff; 
}

.content {
    max-width: 960px;
    margin: 0px auto;
    padding: 25px;
}
table{
   border: none;
   width: 100%;
}
th {
    background: rgba(0,0,0,0.6);
    padding: 4px 10px;
    color: #ffffff;
    font-size: 1.2rem;
}
td{
    background: rgba(0,0,0,0.3);
    padding: 10px 15px;
    border: 1px solid #ffffff;
}
.commentsCell td{
    background: none;
    padding: 2px 15px;
    border: none;
}
td.commentsCell tr:last-child td{
    border-bottom: none;
}

td.commentsCell{
    background: rgba(0,0,0,0.2);
    padding: 5px 0px;
    font-size: 0.8rem;
}
td.projectRow{
    width: 350px !important;
}
td.labelCell{
    width: 200px;
}

.labelCell span{
  display: inline-block;
  text-decoration: none;
  padding: .5rem;
  box-sizing: border-box;
}
.buttonRow, .buttonCell{
    width: 80px !important;
    text-align: center;
    padding: 5px 10px;
}
.buttonCell input[type="submit"], .buttonRow input[type="submit"]{
    width: 80px;
}
#btnSaveProject, #btnCancel, #btnSaveCustomer{
    margin-bottom: 5px;
}
.taskCell{
    vertical-align: top;
}
.street, .street input[type="text"], .street span{
    width: 200px !important;
}
.zip, .zip input[type="text"], .zip span, .number, .number input[type="text"], .number span{
    width: 100px !important;
}
<<<<<<< HEAD
.right{
    float: right;
}

.errorMessages{
    font-size: 0.7rem ;
    color: red ;
    padding: .4rem;
}

.date{
    font-size: 0.7rem;
    text-align: right;
}
=======
input.right{
    float: right;
}

span.error{
    width: 400px;
}
>>>>>>> origin/master
